.wifeo_pagemenu>a {
    color: #FFFFFF;
    text-decoration: none
}

.wifeo_pagemenu:hover>a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold
}

.wifeo_rubrique>a {
    color: #FFFFFF;
    text-decoration: none
}

.wifeo_rubrique:hover>a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none
}

.wifeo_pagesousmenu>a {
    color: #FFFFFF;
    text-decoration: none
}

.wifeo_conteneur_menu {
    border-spacing: 0px
}

.wifeo_conteneur_menu {
    width: 100%;
    display: table;
    height: 100px
}

.wifeo_conteneur_menu a {
    text-decoration: none;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    text-align: center;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease
}

.wifeo_pagemenu a:hover {
    height: 100px;
    background-color: #C4342D
}

.wifeo_pagemenu,
.wifeo_rubrique {
    background-color: #E74C3C;
    float: left;
    position: relative;
    width: 33.333%;
    text-align: center;
    display: table
}

.wifeo_sousmenu {
    left: 0;
    opacity: 0;
    top: 0;
    position: absolute;
    visibility: hidden;
    z-index: 5;
    right: 0
}

.wifeo_rubrique:hover .wifeo_sousmenu {
    opacity: 1;
    background-color: #C4342D;
    visibility: visible;
    top: 50px
}

.wifeo_pagesousmenu,
.wifeo_pagesousmenu:hover {
    width: 100%;
    height: 50px;
    display: table;
    vertical-align: middle;
    text-align: center
}

@media screen and (min-device-width:1024px) {
    .wifeo_sousmenu {
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease
    }
}